  body{
    background-image:linear-gradient(to right,#051421,#042727);
  }


  .head-container{
    position: relative;
    height:auto;
    width:100%;
  }

  .icon-container{
    padding:10px;
    width:auto;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
  }

  .icon{
    display:flex;
    flex-direction:column;
  }


  .icon-container > .icon{
    color:white;
    margin:3.5vh; 
  }


  .icon > .MuiSvgIcon-root{
    margin-left:auto;
    margin-right:auto;
  }


  .icon:hover{
    cursor:pointer;
  }
   
  .icon:hover .MuiSvgIcon-root{
    transform: scale(1.2);
  }

  .icon:hover  p{
    visibility: visible;
  }

  .icon > * {
    display: inline;
  }

  .icon > p{
    visibility:hidden;
    text-transform: uppercase;
  }

  .active > p{
    visibility: visible;
  }

  .icon-container >.logo{
    margin-top: auto;
    margin-left:auto;
  }

.logo >img {
  width:200px;
}


.nav-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.category{
  text-decoration: none;
  opacity: 0.7;
}

.category > h2{
  font-size: 16px;
  font-weight: 400;
  color: white;
  cursor:pointer;
  margin-left:30px;
  margin-right:30px;
}

.category:hover{
  opacity: 1;
  transform: scale(1.2);
}

.activeLink{
  opacity:1;
  transform: scale(1.2);
}

.movie-list{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top:30px;
  margin-left:70px;
}

.movie-item{
  padding:10px;
  color: white;
  transition: 250ms;
}

.movie-item > *{
  cursor: pointer;
}


.movie-item:hover{
  transform: scale(1.09);
}


.movie-title{
  font-size:20px;
  font-weight: 500;
}

.movie-overview{
  width:400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width:768px){
  [class = "movie-list"]{
    display: grid;
    grid-template-columns: 1fr;  
    margin-left:50px;
  }
}